{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}" />
{% endblock %}

{% block title %}Notre Agenda{% endblock %}

{% block body %}
    <h1 class="title-card">Agenda du club</h1>
    <div id="calendar"></div>
{% endblock %}

{% block js %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt,{
                initialView: 'dayGridMonth',
                locale:'fr',
                timeZone:'Europe/Paris',
                headerToolbar:{
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{data|raw}},
                editable: true,
                eventResizableFromStart: true,
                eventClick: function(info) {
                    alert('Event: ' + info.event.title);
                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                    alert('View: ' + info.view.type);

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                }
            })
            calendar.on('eventChange', (e) =>{
                let url = `/api/${e.event.id}/edit`
                let datas ={
                    "title": e.event.title,
                    "description":e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                    "borderColor": e.event.borderColor,
                    "textColor": e.event.textColor,
                    "allDay": e.event.allDay
                }
                console.log(datas);
                let xhr = new XMLHttpRequest

                xhr.open("PUT", url)
                xhr.send(JSON.stringify(datas))
            })
            calendar.render()
        }
    </script>
{% endblock %}
