{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}" />
{% endblock %}

{% block title %}Notre Agenda{% endblock %}

{% block body %}
    <h1 class="title-card">Agenda du club</h1>
    <div id="calendar"></div>
{% endblock %}

{% block js %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendar");

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale:'fr',
                timeZone:'Europe/Paris',
                headerToolbar: {
                    start: 'title',
                    end: 'prev,next today,dayGridMonth,dayGridWeek'
                },
                // affichage des évènements
                events: {{data|raw}},

                eventTimeFormat: { // like '14:30'
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },

                // option
                height: 600,
                expandRows: true,
                themeSystem: 'bootstrap'
            });

            calendar.render();
        }
    </script>
{% endblock %}
