.fc-daygrid-day-top a {
    color: black;
}

.fc-button-group {
    display: none;
}

@media all and (max-width: 668px) {
    #calendar .fc-dayGridMonth-button,
    #calendar .fc-dayGridWeek-button {
        display: none!important;
    }
}