.card {
    margin: 3rem 0;
    border: none;
}

.card-content {
    width: 100%;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    font-size: 22px;
    margin-top: 2rem;
}

@media all and (max-width: 668px) {
    card {
        margin: 2rem 0;
    }

    .content {
        font-size: 17px;
        margin-top: 1rem;
    }
}