.contact {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
}

.contact h5 {
    color: #ffce76;
    text-transform: uppercase;
}

.image-contact {
    width: 100%;
    height: 100%;
}

.image-contact img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.contact-body {
    width: 40vw;
    height: 100%;
    text-align: center;
    font-size: 2em;
    padding: 2rem 0;
    background: black;
    border-radius: 5px;
}

.contact-item {
    border-radius: 5px;
    padding: 10px;
}

.networks a {
    margin: 0 0.5rem;
}

.street-postalCode,
.country,
.phone,
.email {
    font-size: 0.8em;
    color: white;
}

.fa-facebook,
.fa-instagram {
    font-size: 1em;
    color: white;
}

.email:hover,
.fa-instagram:hover,
.fa-facebook:hover {
    text-decoration: none;
    color: lightgrey;
}