/*-------------------- carousel -----------------------------------*/
.carousel {
    margin: 0;
}

/*------------------------------------ main ---------------------------------------*/

main p {
    font-size: 20px;
}

.card-row img {
    border-radius: 5px;
}

/* le grand maitre */
.big-teacher-img {
    float: left;
    height: 280px;
    margin-right: 1rem;
}

.img {
    width: 100%;
    height: 100%;
}

.img img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
}

.en-savoir-plus {
    font-size: 1rem;
    background-color: #414141;
    color: #fff;
}

.en-savoir-plus:hover {
    color: #cecccc;
}

.h-sponsors {
    color: #f10707;
    font-weight: 400;
    font-family: "Lucida Fax", serif;
    margin: 20px 0;
}

@media all and (max-width: 668px) {
    .item-taekwonkido {
        margin-top: 2rem;
    }

    .big-teacher-img {
        float: none;
        width: 100%;
        margin-bottom: 1rem;
    }

    main p {
        font-size: 17px!important;
    }

    .carousel {
        margin-top: 2rem;
    }
}