/*------------------------------- navbar ---------------------------------*/
@media all and (max-width: 668px) {
    .navbar {
        padding: 0 1rem;
    }
}


/*------------------------------- footer ---------------------------------*/

footer {
    background-color: #2c3e50;
    padding: 4rem 8rem 1rem 8rem;
}

.contact-footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

footer a {
    color: white;
}

.footer-email a:hover,
.footer-phone a:hover {
    color: #18bc9c;
    text-decoration: none;
}

.network h6 {
    color: white;
}

.fa-facebook,
.fa-instagram {
    font-size: 1.5em;
    margin: 6px;
}

.fa-facebook {
    margin-left: 0;
}

.copyright {
    text-align: center;
    color: white;
}

@media all and (max-width: 668px) {
    footer {
        width: 100%;
        padding: 1rem 2rem;
    }

    .contact-footer {
        flex-direction: column;
        text-align: center;
    }

    .network {
        margin-top: 1rem;
    }

    .copyright {
        width: 100%;
    }
}