/**

* color body #212529
* background-color - navbar footer : #2c3e50
* a - color hover : #18bc9c
* a - color : #ffffff
 */

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
html, body {
    height: auto;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Itim', SansSerif, serif;
    color: #212529;
}


h1, h2, h3,
h4, h5, h6 {
    font-family: 'Roboto', SansSerif, serif;
}

.title-card {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 2rem 0;
}

/* contain */

.contain {
    flex: 1;
    width: 80%;
    height: 100%;
    margin: 4rem auto 6rem auto;
    padding: 0;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

/* navbar */

.navbar {
    padding: 0 4rem;
}

.navbar-brand img {
    width: 50px;
}

.navbar-collapse {
    margin-left: 2rem;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

/* ------------- responsive ----------------------*/

@media all and (max-width: 668px) {
    .contain {
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .title-card {
        font-size: 1em;
    }
}