<footer>
    <div class="contact">
        <div class="phone-email">
            <a href="tel:+"><i class="fas fa-phone-alt"></i>&nbsp;06 09 73 02 51</a>
            <a href="mailto:"><i class="far fa-envelope"></i>&nbsp;communication@cenaclerm.fr</a>
        </div>
        <div class="network">
            <span>Réseaux sociaux</span>
            <div class="network-item">
                <a href="https://www.facebook.com/taekwonkidovincennes" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/taekwonkidovincennes/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <p>Tout droit réserver | Le club de Vincennes | {{ "now" | date('Y') }}</p>
</footer>