<footer>
    <div class="contact-footer">
        <div class="phone-email">
            <div class="footer-phone"><a href="tel:+"><i class="fas fa-phone-alt"></i>&nbsp;06 09 73 02 51</a></div>
            <div class="footer-email">
                <a href="mailto:"><i class="far fa-envelope"></i>&nbsp;communication@cenaclerm.fr</a>
            </div>
            <div class="footer-email">
                <a href="adress:"><i class="fas fa-map-marker-alt"></i>&nbsp;35 Rue Jean Moulin, 94300 Vincennes</a>
            </div>
        </div>
        <div class="network">
            <h6>Réseaux sociaux</h6>
            <div class="network-item">
                <a href="https://www.facebook.com/taekwonkidovincennes" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/taekwonkidovincennes/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>Created By Mohamed Ousseine | {{ "now" | date('m-Y') }}</span> <br />
        <span>Tout droit réserver | Le club de Vincennes | <a href="https://concept-paradise-france.net/">Concept Paradise France</a> </span>
    </div>
</footer>