{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <button class="btn btn-primary"><a href="{{ path('admin_user_index') }}">Retour</a></button>
{% endblock %}
