{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/cards.css') }}" />
{% endblock %}

{% block title %}Le Club{% endblock %}

{% block body %}
    <h1 class="title-card">Le Club de Vincennes</h1>

    <!-- CARDS -->
    {% for article in articles %}
        <div class="card">
            <div class="card-content">
                <div class="card-img">
                    <img src="{{ asset('uploads/' ~ article.file) }}" class="image" alt="image taekwonkido">
                </div>
                <p class="content">{{ article.content }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
