{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block title %}Articles{% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="article">
            <h1>{{ article.title }}</h1>
            <div class="article-body">
                <img src="{{ asset('uploads/' ~ article.file) }}" alt="image article" />
                <div class="content">{{ article.content }}</div>
            </div>
        </div>
    {% else %}
        <span>Aucun article trouver</span>
    {% endfor %}
{% endblock %}
